.DS_Store

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules
npm-debug.log

# argo-uml
*~

# Gemfile
Gemfile.lock

# hookio
config.json

# jasmine-node
.monitor

# alex
dht/lib_test
dht/dist_test

# pierre
*.sublime-project
*.sublime-workspace
