!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %script{:type => "text/javascript",
            :src  => "/dist/KadOH.js"}
    %script{:type => "text/javascript",
            :src  => "/bench.js"}

    %title KadOH Benchmarking
    %style
      :css
        body { font-family : "Helvetica Neue", Helvetica, Arial, sans-serif; }

  %body