!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %script{type: "text/javascript", src: "/dist/KadOH.js"}
    %script{type: "text/javascript", src: "/bench.js"}
    %title KadOH Benchmarking
  %body