/* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }

      .twipsy {
        z-index: 12100;
      }

      .popover .content {
        padding: 6px;
      }
      .container > footer {
        margin-top: 6px;
        padding-top: 6px;
      }
      .container > footer p {
        margin-bottom: 0px;
        text-align: center; /* center align it with the container */
      }

      /* The white background content wrapper */
      #content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 0px;
        margin: -20px -20px 20px;
      }

      .page-header > .tabs {
        font-size: 120%;
        border-style: none;
        margin-bottom: 0px;
      }

      
      .popover .inner {
        width: 400px;
      }
      .twipsy-inner {
        max-width: 400px;
      }
    
      hr {
        margin: 3px 0 2px;
      }
      
      .state {
        float: right;
      }

      .sha {
        font-family: "Monaco", "Courier", monospace;
      }

      time {
        font-family: "Monaco", "Courier", monospace;
        font-size: 12px;
        color: #333;
      }

      /*** Connection Control ***/
      #connection-control {
        padding: 10px;
        margin-bottom: 10px;
      }
      #connection {
        float: right;
      }

      /*** Routing Table ***/
      #routing-table table {
        margin-bottom:0px;
      }

      #routing-table .kbucket {
        padding: 3px 0px;
        border-bottom: 1px solid #DDD;
      }
      #routing-table .kbucket:last-child {
        border-bottom: none;
      }

      #routing-table .peer.new td {
        background-color: #CDEACD;
      }
      #routing-table .distance {
        font-family: "Monaco", "Courier", monospace;
        font-size: 12px;
      }
      #routing-table .last-seen {
        font-family: "Monaco", "Courier", monospace;
        font-size: 12px;
      }
      #routing-table .jid {
        font-weight: bold;
      }

      /*** LOG ****/

      #log .console {
        background-color: #FFFFFC;
        border-top: 2px solid #DDD;
        border-bottom: 2px solid #DDD;
        margin-right: -15px;
        padding-right: 15px;
        height: 530px;
        overflow: auto;
      }

      #log .row {
        padding-top: 6px;
        padding-bottom: 3px;
        border-bottom: 1px solid #DDD;
        margin-left: 0;
      }


      #log .row > div:first-child {
        text-transform: uppercase;
        font-weight: bold;
        color: #333;
        text-align: right;
        font-size: 9.75px;
        margin-left: 0px;

      }

      #log .row > div:nth-child(2) {
        background-repeat: no-repeat;
        background-position: left center;
      }      
      #log .error>div:nth-child(2) {
        background-image: url('images/error-icon16.png');
      }      
      #log .warn>div:nth-child(2) {
        background-image: url('images/warn-icon16.png');
      }           
      #log .info> div:nth-child(2) {
        background-image: url('images/info-icon16.png');
      } 
      #log .debug>div:nth-child(2) {
        background-image: url('images/debug-icon16.png');
      } 
      #log .fatal>div:nth-child(2) {
        background-image: url('images/skull-icon16.png');
      }
      
      #log .row>div:nth-child(3) {
        color: #666666;
        font-family: "Arial";
        word-break: break-all;      
      }

      #log .error > div:nth-child(3), #log .fatal > div:nth-child(3) {
        color: #FF6666;
      }

      #log .row>div:last-child {
        text-align : right;
      }

      #log .well h5 {
        display: inline;
        float: left;
        line-height: 18px;
        margin-top: 6px;
      }

      #log .well {
        padding: 12px;
      }
      #log .well img {
        margin-top :3px;
      }
      #log .well span {
        color : #5E5E5E;
      }

      #log .well input {
        margin : 0 5px;
      }
      #log .well label {
        padding : 0 0;
      }

      /** Reactor **/

      #reactor tbody tr > td:first-child {
        font-family: "Monaco", "Courier", monospace;
        font-size: 12px;
      }
      #reactor tbody tr > td:nth-child(2) {
        text-align: center;
      }

      #reactor tbody tr > td:nth-child(3) {
        text-align: center;
      }

      #reactor div.table {
        height: 700px;
        overflow: auto;
        margin-right: -15px;
        padding-right: 15px;

      }
      #reactor table>thead {
        display: table-header-group;
      }

      /** Transpprt **/

      #transport .console {
        height: 530px;
        overflow: auto;
      }


      .raw {
        margin-bottom: 10px;
      }

      .in {
        color: red;
      }

      .out {
        color: green;
      }
      
